<nav>
    <ul>
        <li class="<%= (typeof page != 'undefined' && page == 'home' ? 'active' : '')%>"><a href="/">Forside</a></li>
        <li class="<%= (typeof page != 'undefined' && page == 'product' ? 'active' : '')%>"><a href="/product">Produkt</a></li>
        <li class="<%= (typeof page != 'undefined' && page == 'contact' ? 'active' : '')%>"><a href="/contact">Kontakt</a></li>
    </ul>
</nav>